/* Google font Icon */
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=M+PLUS+Rounded+1c:wght@500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');


/* 全体 */
body {
    width: 100%;
    margin: 0;
    background: linear-gradient(white, rgb(157, 216, 243));
    font-family: 'M PLUS Rounded 1c', sans-serif;
    min-height: 100vh
}

.index section h1,
.index h2,
.index h3 {
    font-size: medium;
    margin-bottom: 0;
}

.listNone {
    list-style: none;
}

.pop-font{
    font-family: 'Hachi Maru Pop', cursive;
}

.smart-font{
    font-family: 'Zen Old Mincho', serif;
}

/* ヘッダーの設定 */
.header {
    background-color: #cfe2f3ff;
}

.list {
    width: 100%;
    margin: 0;
    padding: 0;
}

.list li {
    padding: 3px;
    margin: 2px 10px;
    list-style: none;
    float: left;
}

.list li:hover {
    color: white;
    background-color: gray;
    border-radius: 10px;
    padding: 3px;
}

.btn-parent {
    margin: auto;
}

.btn {
    height: 60px;
    width: 80px;
    color: white;
    background: linear-gradient(to top right ,blue, 30%, rgb(233, 129, 247) , skyblue);
    border-radius: 50% 10%;
    transition: all 0.5s 0s ease;
    border: solid 3px rgb(0, 174, 255);
}

.btn:hover {
    color: white;
    background: linear-gradient(to top left ,blue, 30%, rgb(233, 129, 247) , skyblue);
    border-radius: 10% 50%;
    transform: scale(1.2, 1.2);
    border: solid 3px rgb(0, 174, 255);
}

.addBtn {
    -webkit-text-stroke: 0.5px #000;
    font-weight: bold;
    color: rgb(157, 216, 243);
    font-size: x-large;
    font-family: 'DotGothic16', sans-serif;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.btn-font {
    font-size: 150px;
    color: white;
}

.headerMenu{
    font-family: 'Potta One', cursive;
}

.pagenate{
    display: flex;
    justify-content: center;
}

/* サイドバー のメインコンテンツ*/
.sidebar {
    width: 20%;
    height: 100%;
    padding: 30px;
    margin: 0;
    position: sticky;
    top: 25px;
}

.sidebar div {
    height: 100%;
    margin: 0 0 10px 0;
    background-color: #c9daf8ff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.sidebar h1 {
    background-color: #a4c2f4ff;
    padding: 10px;
    margin: 0;
    font-size: medium;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.sidebar p {
    padding: 5px;
    margin: 0;
    font-size: medium;
}

.sidebar p:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(68, 84, 233);
    border-radius: 20px;
    font-size: 1.2rem;
    cursor: pointer;
}

/* 季節ごとの処理 */
.snow {
    /*雪の色*/
    color: snow;
    /*雪の大きさ*/
    font-size: 30px;
    /*初期位置*/
    position: fixed;
    top: -5%;
    /*雪を適当な幅で降らせる*/
    text-shadow:
        5vw -100px 2px,
        10vw -400px 3px,
        20vw -500px 4px,
        30vw -580px 1px,
        39vw -250px 2px,
        42vw -340px 5px,
        56vw -150px 2px,
        63vw -180px 0,
        78vw -220px 4px,
        86vw -320px 9px,
        94vw -170px 7px;
    /*雪アニメーション1*/
    animation: roll 5s linear infinite;
}

/*2つめの雪アニメーション*/
.snow2nd {
    animation: anim 8s linear infinite;
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
    }

    90% {
        opacity: 1;
    }

    100% {
        transform: rotate(20deg);
        top: 100%;
        opacity: 0;
    }
}

@keyframes anim {
    100% {
        color: transparent;
        top: 150%;
    }
}

/* TOPページ */
.観光,
.宿泊,
.飲食 {
    display: none;
    list-style: none;
    text-align: center;
}

#famous,
#newAdd {
    margin: 3px;
}

#famous img,
#newAdd img {
    width: 95%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

.base-relative {
    position: relative;
    width: 100%;
    padding: 0;
    transition: all 0.5s 0s ease;
}

.base-relative:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.relative-child1 {
    width: 95%;
    position: absolute;
    top: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgba(59, 183, 255, 0.5);
}

.relative-child2 {
    width: 95%;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgba(175, 172, 172, 0.7);
}


/* pc画面 */
@media screen and (min-width: 768px),
print {
    .Commercial {
        display: block;
    }
}

/* スマホ画面 */
@media screen and (max-width: 768px) {
    .Commercial {
        display: none;
    }
}


/* addNew */
/* pc画面 */
@media screen and (min-width: 768px),
print {
    .pop-up {
        position: absolute;
        border: solid;
        background-color: antiquewhite;
        border-radius: 15px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 25%;
        height: 700px;
        background-image: url("../img/雪だるま.png");
    }

    .pop-up form label {
        width: 30%;
        height: auto;
        margin: auto 5px;
        text-align: right;
        white-space: nowrap;
    }

    .pop-up form input,
    .pop-up form textarea {
        width: 70%;
        margin: auto 0;
    }
}

/* スマホ画面 */
@media screen and (max-width: 768px) {
    .pop-up {
        position: absolute;
        border: solid;
        background-color: antiquewhite;
        border-radius: 15px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 80%;
        height: 700px;
    }

    .pop-up form label {
        width: 25%;
        height: auto;
        margin: auto 5px;
        text-align: right;
        white-space: nowrap;
        font-size: 1vw;
    }

    .pop-up form input,
    .pop-up form textarea {
        width: 75%;
        margin: auto 0;
    }
}

.pop-up-div {
    width: 90%;
    display: flex;
    margin: 3px auto;
}

#pop-up {
    display: none;
}

.pop-up-child {
    text-align: right;
}

.pop-up-child p {
    width: 50px;
    margin: 0 5px 0 auto;
    padding: auto;
    font-size: x-large;
    text-align: center;
}

.pop-up-child p:hover {
    cursor: pointer;
    color: blue;
    font-weight: bold;
}

/* ホテル検索ページ */
.hotelShow {
    width: 95%;
    height: 100%;
    background: linear-gradient(rgb(157, 216, 243), #cfe2f3ff);
    margin: 15px auto;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.hotelShow .hotelShowTitle {
    font-size: x-large;
    width: 100%;
    color: orange;
}

.hotelShowImage {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    border-radius: 50px;
}

.planAndReview {
    display: flex;
    list-style: none;
    padding: 0;
}

/* ホテルインデックスに実装したcss */
.hotelIndexLeft {
    min-height: 100vh;
    background: linear-gradient(rgba(157, 216, 243, 0.3), rgba(245, 0, 243, 0.3));
}

.hotelIndexLeft p {
    font-size: large;
    cursor: pointer;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    border-bottom: solid 1px;
    transition: 0.5s ease;
    color: rgb(255, 153, 0);
}

.hotelIndexLeft p:hover {
    background-color: cadetblue;
}

.hotelIndexLeft label {
    width: 100%;
    cursor: pointer;
    color: coral;
}

.hotelIndexLeft label:hover {
    background-color: rgb(97, 218, 255);
    transition: 0.5s ease;
}


.北海道・東北,
.関東,
.北陸,
.中部,
.関西,
.中国,
.四国,
.九州・沖縄 {
    display: none;
    text-align: center;
}

/* ジャンルor都道府県別絞り込み */
.genreOrPref {
    width: 90%;
    margin: 10px auto;
}

.genreOrPrefImg {
    width: 100%;
    aspect-ratio: 3/2;
    padding: 3px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.KindAbsolute {
    position: absolute;
    background-color: rgba(122, 213, 255, 0.5);
}

.ul {
    position: absolute;
    list-style: none;
    display: flex;
    bottom: 0;
    right: 0;
    padding: 0 5px 0 0;
    margin: 0;
    font-weight: bold;
    font-family: 'DotGothic16', sans-serif;
    font-family: 'Hachi Maru Pop', cursive;
    background-color: rgba(122, 213, 255, 0.5);
}

.ul li{
    font-size: x-small;
}

.genreOrPrefImg p {
    color: black;
    margin: 0;
    padding: 0 5px;
    font-weight: bold;
    font-family: 'DotGothic16', sans-serif;
    font-family: 'Hachi Maru Pop', cursive;
}

.genreOrPref img {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
}

.hotelRankImage{
    width: 100%;
    aspect-ratio: 4/5;
    object-fit: cover;
    transition: all 1s 0s ease;
    border-radius: 30% 10px;
}

.hotelRankImage:hover{
    width: 100%;
    aspect-ratio: 4/5;
    object-fit: cover;
    border-radius: 10px 30%;
}

.hotelRank {
    position: relative;
    transition: all 1s 0s ease;
    padding: 20px;
    border-radius: 10%;
    animation-name: hotelRank;/*アニメーションの名前*/
    animation-fill-mode:forwards;/*最終的な状態*/
    animation-duration:3s;/*アニメーションの時間*/
    animation-iteration-count:1;/*繰り返し回数*/
    animation-timing-function:ease;/*進行具合*/
    animation-delay: 0.5s;/*開始までの時間*/
    animation-direction:normal;/*順再生とか逆再生とか*/
    }

.hotelRank:hover{
    background: linear-gradient(gray,white);
    transform: scale(1.15,1.15);
    border-radius: 10%;
}

@keyframes hotelRank{
    0% {
    opacity: 0;
    }

    100% {
    opacity: 1;
    }
}
