/* Google font Icon */
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=M+PLUS+Rounded+1c:wght@500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap');

/* 全体 */
body {
    width: 100%;
    margin: 0;
    background: linear-gradient(white, rgb(157, 216, 243));
    font-family: 'M PLUS Rounded 1c', sans-serif;
    min-height: 100vh
}

.index section h1,
.index h2,
.index h3 {
    font-size: medium;
    margin-bottom: 0;
}

.listNone {
    list-style: none;
}

.pop-font{
    /* font-family: 'Hachi Maru Pop', cursive; */
    font-family: "Kokoro";
}

.smart-font{
    font-family: 'Zen Old Mincho', serif;
}

/* ヘッダーの設定 */
.header {
    background-color: #cfe2f3ff;
}

.list {
    width: 100%;
    margin: 0;
    padding: 0;
}

.list li {
    padding: 3px;
    margin: 2px 10px;
    list-style: none;
    float: left;
}

.list li:hover {
    color: white;
    background-color: gray;
    border-radius: 10px;
    padding: 3px;
}

.btn-parent {
    margin: auto;
}

/* PC画面 */
@media screen and (min-width: 768px),
print {
    .btnform {
        height: 60px;
        width: 80px;
        color: white;
        background: linear-gradient(to top right ,blue, 30%, rgb(233, 129, 247) , skyblue);
        border-radius: 50% 10%;
        transition: all 0.5s 0s ease;
        border: solid 3px rgb(0, 174, 255);
    }

    .btnform:hover {
        color: white;
        background: linear-gradient(to top left ,blue, 30%, rgb(233, 129, 247) , skyblue);
        border-radius: 10% 50%;
        transform: scale(1.2, 1.2);
        border: solid 3px rgb(0, 174, 255);
    }
}

/* スマホ画面 */
@media screen and (max-width: 768px) {
    .btnform {
        height: 60px;
        width: 80px;
        color: white;
        background: linear-gradient(to top right ,blue, 30%, rgb(233, 129, 247) , skyblue);
        border-radius: 50% 10%;
        transition: all 0.5s 0s ease;
        border: solid 3px rgb(0, 174, 255);
    }
}

.addBtn {
    -webkit-text-stroke: 0.5px #000;
    font-weight: bold;
    color: rgb(157, 216, 243);
    font-size: x-large;
    font-family: 'DotGothic16', sans-serif;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.btn-font {
    font-size: 150px;
    color: white;
}

.headerMenu{
    font-family: 'Potta One', cursive;
}

.pagenate{
    display: flex;
    justify-content: center;
}

/* サイドバー のメインコンテンツ*/
.sidebar {
    width: 20%;
    height: 100%;
    padding: 30px;
    margin: 0;
    position: sticky;
    top: 25px;
}

.sidebar div {
    height: 100%;
    margin: 0 0 10px 0;
    background-color: #c9daf8ff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.sidebar h1 {
    background-color: #a4c2f4ff;
    padding: 10px;
    margin: 0;
    font-size: medium;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.sidebar p {
    padding: 5px;
    margin: 0;
    font-size: medium;
    transition: 0.3s ease-in-out;
}

.sidebar a {
    color: white;
}

.sidebar p:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(68, 84, 233);
    border-radius: 20px;
    font-size: 1.2rem;
    cursor: pointer;
}

/* 季節ごとの処理 */
.snow {
    /*雪の色*/
    color: snow;
    /*雪の大きさ*/
    font-size: 30px;
    /*初期位置*/
    position: fixed;
    top: -5%;
    /*雪を適当な幅で降らせる*/
    text-shadow:
        5vw -100px 2px,
        10vw -400px 3px,
        20vw -500px 4px,
        30vw -580px 1px,
        39vw -250px 2px,
        42vw -340px 5px,
        56vw -150px 2px,
        63vw -180px 0,
        78vw -220px 4px,
        86vw -320px 9px,
        94vw -170px 7px;
    /*雪アニメーション1*/
    animation: roll 5s linear infinite;
}

/*2つめの雪アニメーション*/
.snow2nd {
    animation: anim 8s linear infinite;
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
    }

    90% {
        opacity: 1;
    }

    100% {
        transform: rotate(20deg);
        top: 100%;
        opacity: 0;
    }
}

@keyframes anim {
    100% {
        color: transparent;
        top: 150%;
    }
}

/* TOPページ */
.session-flash{
    margin: 10px auto;
    width: 90%;
    padding: 10px;
    background-color: rgb(255, 255, 209);
}

.観光,
.宿泊,
.飲食 {
    display: none;
    list-style: none;
    text-align: center;
}

#famous,
#newAdd {
    margin: 3px;
}

#famous img,
#newAdd img {
    width: 95%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

/* pc画面 */
@media screen and (min-width: 768px),
print {
    .base-relative {
        position: relative;
        width: 100%;
        padding: 0;
        transition: all 0.5s 0s ease;
        text-align: center;
        margin: 10px auto;
    }

    .base-relative:hover {
        transform: scale(1.1, 1.1);
        cursor: pointer;
    }
}

/* スマホ画面 */
@media screen and (max-width: 768px) {
    .base-relative {
        position: relative;
        width: 100%;
        padding: 0;
        transition: all 0.5s 0s ease;
        text-align: center;
        margin: 20px auto;
    }
}


.relative-child1 {
    width: 95%;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgba(59, 183, 255, 0.5);
}

.relative-child2 {
    width: 95%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgba(175, 172, 172, 0.7);
}

/* addNew */
/* pc画面 */
@media screen and (min-width: 768px),
print {
    .pop-up {
        width: 40%;
    }

    .Commercial {
        display: block;
    }

    .headerCommercial{
        display: flex;
        justify-content: space-around;
        width: 100%;
        text-align: center;
        margin: 15px 0;
    }
}

/* スマホ画面 */
@media screen and (max-width: 768px) {
    .pop-up {
        width: 80%;
    }

    .Commercial {
        display: none;
    }
}

.pop-up form input,
.pop-up form textarea {
    width: 75%;
    margin: auto;
    transition: 0.5s ease-in-out;
    background-color: rgb(173, 173, 173);
}

.pop-up form input:focus,
.pop-up form textarea:focus{
    width: 95%;
    box-shadow: 0 0 5px 5px skyblue;
    background-color: rgb(255, 255, 255);
}

.pop-up form label{
    white-space: nowrap;
    margin: auto;
}

.img-btn-decolate{
    padding: 10px;
    background-color: skyblue;
    transition: 0.5s ease-in-out ;
    cursor: pointer;
    border-radius: 15px;
}

.img-btn-decolate:hover{
    background-color: pink;
    box-shadow: 0 0 5px;
}

.img-btn-decolate:active{
    box-shadow: inset 0 0 5px;
}

form[action="/"] select{
    width: 49%;
}

form[action="/"] select option{
    font-size: 15px;
}

.pop-up-div {
    width: 95%;
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

#pop-up {
    position: absolute;
    border: solid;
    border-radius: 15px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 15px auto;
    display: none;
    background:linear-gradient(45deg,rgb(254,139,250),rgb(131,189,251));
}

#pop-up ::placeholder{
    color: white;
}

.pop-up-head{
    background:linear-gradient(225deg,rgb(252, 101, 247),rgb(96, 173, 255));
    font-size: 24px;
    font-family: 'Kaisei HarunoUmi', serif;
    border-radius: 15px 15px 0 0;
    padding: 10px 0 10px 5px;
    overflow: hidden;
    height: 10%;
}

.pop-up-body{
    height: 90%;
    padding: 10px 0;
}

.pop-up-body form{
    height: 100%;
    overflow-y: scroll;
}

.pop-up-body form::-webkit-scrollbar{
    width: 2vh;
 }
.pop-up-body form::-webkit-scrollbar-track{
    background-color: #ccc;
    border-radius: 30px;
}
.pop-up-body form::-webkit-scrollbar-thumb{
    background-color: #acffe3;
    border-radius: 30px;
}


.pop-up-child {
    text-align: right;
}

.pop-up-child p {
    width: 50px;
    margin: 0 5px 0 auto;
    padding: auto;
    font-size: x-large;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
}

.pop-up-child p:hover {
    cursor: pointer;
    color: blue;
    font-weight: bold;
}

.add_info_image{
    aspect-ratio: 5 / 3;
    object-fit: contain;
}

.pop-up-btn{
    border-radius: 20px 0;
    transition: 0.5s ease-in-out;
    border: none;
    padding: 10px 20px;
    background-color: rgb(177, 255, 255);
}

.pop-up-btn:hover{
    border-radius: 0 20px;
    background-color: pink;
}

.mapStyle{
    aspect-ratio: 5 / 3;
    border-radius: 15px;
}

/* ホテル検索ページ */
.hotelShow {
    width: 95%;
    height: 100%;
    background: linear-gradient(rgb(157, 216, 243), #cfe2f3ff);
    margin: 15px auto;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.hotelShow .hotelShowTitle {
    font-size: x-large;
    width: 100%;
    color: orange;
}

.hotelShowImage {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    border-radius: 50px;
}

.planAndReview {
    display: flex;
    list-style: none;
    padding: 0;
}

/* ホテルインデックスに実装したcss */
.hotelIndexLeft {
    min-height: 100vh;
    background: linear-gradient(rgba(157, 216, 243, 0.3), rgba(245, 0, 243, 0.3));
}

.hotelIndexLeft p {
    font-size: large;
    cursor: pointer;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    border-bottom: solid 1px;
    transition: 0.5s ease;
    color: rgb(255, 153, 0);
}

.hotelIndexLeft p:hover {
    background-color: cadetblue;
}

.hotelIndexLeft label {
    width: 100%;
    cursor: pointer;
    color: coral;
}

.hotelIndexLeft label:hover {
    background-color: rgb(97, 218, 255);
    transition: 0.5s ease;
}


.北海道・東北,
.関東,
.北陸,
.中部,
.関西,
.中国,
.四国,
.九州・沖縄 {
    display: none;
    text-align: center;
}

/* ジャンルor都道府県別絞り込み */
.genreOrPref {
    width: 90%;
    margin: 10px auto;
}

/* pc画面 */
@media screen and (min-width: 768px),
print {
    .genreOrPrefImg {
        width: 100%;
        aspect-ratio: 3/2;
        padding: 10px;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        transition: 1s ease;
    }

    .genreOrPrefImg:hover{
        transform: scale(1.15,1.15);
        z-index: 1;
    }

}

/* スマホ画面 */
@media screen and (max-width: 768px) {
    .genreOrPrefImg {
        width: 100%;
        aspect-ratio: 3/2;
        padding: 10px;
        margin:10px 0;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        transition: 1s ease;
    }
}

.KindAbsolute {
    position: absolute;
    background-color: rgba(122, 213, 255, 0.5);
    border-radius: 20px 0 0 0;
}

.ul {
    position: absolute;
    list-style: none;
    display: flex;
    bottom: 0;
    right: 0;
    border-radius: 0 0 25px 0;
    padding: 0 20px;
    margin: 0 10px 3px 0;
    font-weight: bold;
    font-family: 'DotGothic16', sans-serif;
    font-family: 'Hachi Maru Pop', cursive;
    background-color: rgba(122, 213, 255, 0.5);
    overflow: hidden;
}

.ul li{
    font-size: x-small;
}

.genreOrPrefImg p {
    color: black;
    margin: 0;
    padding: 0 5px;
    font-weight: bold;
    font-family: 'DotGothic16', sans-serif;
    font-family: 'Hachi Maru Pop', cursive;
}

.genreOrPref img {
    border-radius: 20px;
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
}

.hotelRankImage{
    width: 100%;
    aspect-ratio: 4/5;
    object-fit: cover;
    transition: all 1s 0s ease;
    border-radius: 30% 10px;
}

.hotelRankImage:hover{
    width: 100%;
    aspect-ratio: 4/5;
    object-fit: cover;
    border-radius: 10px 30%;
}

.hotelRank {
    position: relative;
    transition: all 1s 0s ease;
    padding: 20px;
    border-radius: 10%;
    animation-name: hotelRank;/*アニメーションの名前*/
    animation-fill-mode:forwards;/*最終的な状態*/
    animation-duration:3s;/*アニメーションの時間*/
    animation-iteration-count:1;/*繰り返し回数*/
    animation-timing-function:ease;/*進行具合*/
    animation-delay: 0.5s;/*開始までの時間*/
    animation-direction:normal;/*順再生とか逆再生とか*/
    }

.hotelRank:hover{
    background: linear-gradient(gray,white);
    transform: scale(1.15,1.15);
    border-radius: 10%;
}

@keyframes hotelRank{
    0% {
    opacity: 0;
    }

    100% {
    opacity: 1;
    }
}


/* loginフォーム */
.card-header {
    background-color: #007bff;
    color: #fff;
    font-size: 24px;
}

.card-body {
    padding: 30px;
    width: 100%;
    position: relative;
}

.card-body form{
    width: 100%;
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
}

.back-animation{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    animation: loginAnimation 3s ease-in-out infinite alternate-reverse;
}

@keyframes loginAnimation{
    0%{
        width: 0%;
        background:skyblue;
    }

    40%{
        background-color: rgb(255, 255, 202);
    }

    100%{
        width: 100%;
        background:rgb(252, 230, 234);
    }
}

.flight{
    position: relative;
    z-index: 2;
    top: -5%;
    left: 5%;
    color: orange;
    text-shadow:
    10vh 10px 1px,
    22vh 20px 1px,
    30vh 25px 1px;
    animation: flight 5s linear infinite;
}

@keyframes flight {
    0% {transform:rotate(0deg);}
   40% {opacity:1;}
   100% {transform:rotate(90deg);top:90%;opacity:0;}
}

.sailing{
    position: relative;
    top: -10%;
    left: 20%;
    color: skyblue;
    z-index: 2;
    text-shadow:
    10vh 10px 1px,
    17vh 100px 1px;
    animation: sailing 5s linear infinite;
}

@keyframes sailing {
  100% {color:transparent;top:90%;opacity:0;}
}

.form-control {
    border-radius: 0;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

#email,#password,#name,#password-confirm{
    width: 80%;
    margin: auto;
    transition: all 0.5s 0s ease;
}

#email:focus,#password:focus,#name:focus,#password-confirm:focus{
    width: 100%;
}

button[type="submit"]{
    margin: 15px 0;
    border-radius: 25px 10px;
    transition: 0.5s ease-in-out 0.01s;
}

button[type="submit"]:hover{
    border-radius: 10px 25px;
    color: black;
    background-color: rgb(255, 221, 227);
}


/* favorite */
#favorite_map{
    width: 90%;
    height: 70vh;
    margin: 10px auto;
}

.favorite_card{
    width: 90%;
    margin: 0 auto 10px auto;
    height: 30vh;
    overflow-x: scroll;
    display: flex;
    background-color: white;
    scroll-behavior: smooth;
}


.favorite_card::-webkit-scrollbar{
    border-radius: 30px;
    width: 2vh;
 }
.favorite_card::-webkit-scrollbar-track{
    background-color: #ccc;
    border-radius: 30px;
}
.favorite_card::-webkit-scrollbar-thumb{
    background: linear-gradient(90deg,pink,skyblue);
    border-radius: 30px;
}

@media screen and (min-width: 768px){
    .favo_child{
        min-width: 20%;
        max-width: 20%;
        height: 100%;
    }
}

/* スマホ画面 */
@media screen and (max-width: 768px) {
    .favo_child{
        min-width: 60%;
        max-width: 60%;
        height: 100%;
    }
}

.favo_header{
    font-size: 15px;
    width: 100%;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.favo_body{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #acffe3;
}

.favo_body img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}
